* {
    box-sizing: border-box;
}

body {
    background-color: #131720;
    font-family: sans-serif;
    color: white;
}

.topnav {
    overflow: hidden;
    background-color: #131720;
    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

form {
    background-color: #151f30;
    width: 300px;
    height: 43px;
    border-radius: 11px;
    align-items: center;
}

input {
    font: 15px system-ui;
    color: black;
    height: 100%;
    width: 100%;
    padding: 6px 9px;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}

.column {
    float: left;
    width: 25%;
    padding: 10px;
}

.card {
    border-radius: 19px;
    padding: 15px;
    text-align: center;
    background-color: #151f30;
}

#title span {
    background-color: #131720;
    padding: 8px;
    font-weight: bold;
}

#title span.green {
    color: #3FFF00;
}

#title span.orange {
    color: orange;
}

#title span.red {
    color: red;
}

#title .release_date {
    font-weight: normal;
    font-size: 15px;
}

/* Image Slider */
.slider-wrapper #image-list {
    display: grid;
    gap: 18px;
    /* font-size: 0; */
    margin-bottom: 30px;
    /* sliding bar */
    overflow-x: auto;
    scrollbar-width: none;
    grid-template-columns: repeat(10, 1fr);
}

.slider-wrapper #image-list::-webkit-scrollbar {
    display: none;
}


.slider-wrapper #image-list .image-item {
    width: 275px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.container {
    margin-top: 20px;
    max-width: 1200px;
    /* width: 95%; */
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .material-symbols-outlined {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    color: #fff;
    background: #000;
    border-radius: 50%;
    /* cursor: pointer; */
    outline: none;
    border: none;
    transform: translateY(-50%);
    /* font-size: 2.4rem; */

}

.slider-wrapper .material-symbols-outlined:hover {
    background: #444;
}

.slider-wrapper .material-symbols-outlined#prev-slide {
    left: -50px;
    display: none;
}

.slider-wrapper .material-symbols-outlined#next-slide {
    right: -50px;
}

.container {
    position: relative;
    /* margin-left: 180px; */
    text-align: center;
    color: white;
}

.image-content {
    /* margin: 50px 6px; */
    color: #fff;
    font-family: "Times New Roman", Times, sans-serif;
    font-weight: bold;
}